# Ignora archivos del sistema Mac 
.DS_store

# Ignora la carpeta node_modules
node_modules

# Ignora el output
RAG_TXT.txt

# Ignora los archivos relacionados a API keys
.env

# Ignora archivos de configuración SASS
.sass-cache

# Ignora la carpeta de entorno virtual
.venv


# Ignorar todas las carpetas dentro de JS
JS/*/

# Asegurar que la carpeta JS en sí misma sea rastreada
!JS/

# Ignorar todas las carpetas dentro de server-client
server-client/*/

# Asegurar que la carpeta server-client en sí misma sea rastreada
!server-client/

# Ignorar carpeta con resultado final
data.jsonl